.requiredLabelLeft::before {
  color: #ff4d4f;
  content: "*";
  font-family: SimSun, sans-serif;
  display: inline-block;
  margin-inline-end: 4px;
  line-height: 1px;
  font-size: 14px;
}

.requiredLabelRight::after {
  color: #ff4d4f;
  content: "*";
  font-family: SimSun, sans-serif;
  display: inline-block;
  margin-inline-start: 4px;
  line-height: 1px;
  font-size: 14px;
}
