.pageSizeSelectorActive {
  color: var(--mantine-color-text);
  /* background-color: var(--mantine-primary-color-filled); */
  opacity: 1;
}

.pageSizeSelectorActive :global(.mantine-Menu-itemLabel .mantine-Text-root) {
  font-weight: 700 !important;
}
